html {
  background-color: rgb(199, 171, 134);
  margin: 0;
  padding: 0;
}

h1 {
  color: orange;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 4.5em;
}
.small {
  width: 25%;
  margin: 0 auto;
}
/*NAV STYLING STARTS BELOW*/
/*START SITE NAV*/
.nav-bar {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.nav-bar li {
  color: crimson;
  list-style: none;
  float: left;
  display: block;
  margin-left: 0 auto;
  padding: 20px;
  text-align: center;
}
.nav-bar li a {
  padding: 5px 20px;
  margin: 0;
  padding: 20px;
}

/*END SITE NAV*/
.clear {
  clear: both;
}
.bold {
  font-size: 1.25em;
  font-weight: bolder;
}
img .chopped {
  width: 1%;
  height: auto;
}
footer {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(255, 166, 0, 0.507);
  color: rgba(184, 135, 11, 0.192);
}
