html {
  background-color: burlywood;
}




h1 {
  width: 100%;
  margin: 0;
  color: blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 5.5em;
  text-align: center;
}
h2 {
  font-size: 1.20em;
  font-weight: bolder;
  color: blue;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-transform: capitalize;
  text-align: center;
}
h2:hover {
  background-color: cyan;
}
h2.cslb {
  font-size: 1.6em;
  text-align: center;
  color: coral;
}
header {
  width: 100%;

  margin: 0;
  padding: 0;

  background: blue url(../../sources/images/Creamy-Lima-Beans-01.webp) no-repeat
    center;
  background-size: cover;
  background-position: top center;
}
/*START SITE NAV*/
.nav-bar {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}

.nav-bar li {
  list-style: none;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0 auto;
  padding:  0;
  text-align: center;
  
  
}
.nav-bar li a {
  padding: 5px 20px;
  margin:0; 
  padding: 20px;;
  
  
  
}


/*END SITE NAV*/

.casserole {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  /*border: 5px solid;*/
  background-color: white;
  
  font-size: medium;
  flex: 1 1 25%;
  box-sizing: border-box;
}
span {
  color: red;
  font-size: 1.1em;
}
span-1 {
  color: seagreen;
  font-size: x-large;
  span-c {
    text-transform: uppercase;
    color: orange;
  }
}
button-1 {
  font-size: large;
  padding: 5px;
  border: 4px solid blue;
  border-radius: 5px 10px 5px 10px;
  background-color: chocolate;
}
button-2 {
  padding: 5px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 15px 10px 15px 10px;
  background-color: greenyellow;
}
button-2:hover {
  background-color: rgb(255, 217, 0);
}

h1 {
  font-size: 4.5em;
}
img {
  width: 100%;
}
/*SECTION-B STARTS BELOW*/
.pics-n {
  width: 90%;
  margin: 0 auto;
  /*border: 5px solid orange;*/
  display: flex;
 
  justify-content: space-between;
  gap: 5px;
  flex: 1 1 25%;
}
/*SECTION-B ENDS ABOVE*/
footer {
  text-align: right;
  color: rgba(255, 160, 122, 0.253);
}
